#layout-admin {
  .text-subtitle1 {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    line-height: 24px;
  }

  #app-menu {
    height: 100%;

    .top-level {
      &.q-item.q-router-link--active,
      .q-item.q-router-link--active {
        background: #e3f2ff;
      }

      > div > .q-item {
        > .q-item__section--avatar {
          color: $primary;
        }
      }

      &.q-expansion-item--expanded > div > .q-item > .q-item__section--main {
        color: $primary;
        font-weight: 700;
      }
    }

    .q-expansion-item__content .q-item {
      border-radius: 0 10px 10px 0;
      margin-right: 12px;
      margin-top: 1px;
      margin-bottom: 1px;
    }
  }
}
